@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}

<div>
    <input type="text" />
    <input type="text" />
    <input type="submit" />
</div>